{{ define "main" }}

<div class="about animated fadeInDown">
    {{ range $index, $path := .Site.RegularPages }}
        {{ if eq .Type "posts"}}
        <div>
            <h3><a href="{{ .RelPermalink }}">#{{ (sub (len .Site.RegularPages) $index) }} {{ .Title }}</a></h3>
            {{ .Summary }}
          </div>
          {{ if .Truncated }}
          <!-- This <div> includes a read more link, but only if the summary is truncated... -->
          <div>
            <a href="{{ .RelPermalink }}">Read More…</a>
          </div>
          {{ end }}
        {{ end }}
    {{ end }}
</div>

{{ end }}
